@CHARSET "UTF-8";

h1{
	display: block;
	float: left;
	color: white;
	background-color: black;
	padding: 5px;
	position: fixed;
}
body {
	font-family: helvetica;
}

.toolbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: white;
	overflow: auto;
	height: 100%;
	position: fixed;
	width: 100px;
	float: left;
}

.toolbar h4{
	display: block;
	padding: 4px;
	background-color: black;
	color: white;
	text-align: center;
}

.toolbar a{
	display: block;
	padding: 8px;
	text-decoration: none;
	background-color: white;
	color: black;
}

.toolbar a:hover
{
	background-color: #8c8c8c;
	color: white;
}
.main{
	margin-left: 100px;
	padding: 15px;
	background-color: #f2f2f2;
}


img
{
	float: right;
	border: 10px solid white;
	border-bottom: 50px solid white;
	margin: 10px;
}
.body-text {
	color: #333333;
}

.fun-facts{
	color: #333333;
}

.contact-me{
	color: #333333;
}

table {
	border: 3px solid;
	background-color: white;
	style: width:20%;
}

table a{
	color: #333333;
}
